---
const { title } = Astro.props;
---

<h2>{title}</h2>

<style>
  h2 {
    margin: 10px 5% 20px;
  }

  h2::after {
    content: "";
    display: block;
    width: 175px;
    height: 5px;
    background: linear-gradient(
      to right,
      #219166 30%,
      #264FB0 30%
    );
    margin-top: 5px;
    margin-left: -6%;
    border-radius: 0 5px 5px 0;
  }

  @media (width > 1024px) {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }

    h2::after {
      width: 350px;
      height: 10px;
      margin-top: 10px;
      margin-left: -8%;
    }
  }
</style>